.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 0 auto;
  margin-bottom: 0 auto;
  position: relative;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
.footer p{
  margin-bottom:0;
  padding-bottom: 0;
}
