.home {
  width: 100%;
  align-items: center;
  font-family: 'Patrick Hand', cursive;
  color: #3e497a;
}

.about {
 
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #D9D9D9;
  color: #284B63;
}

.about h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: 80px;
  color: #22333B;
  height: 50px;
  margin: auto;
  box-sizing: border-box;
}

.about .prompt {
  width: 60%;
  font-size: 30px;
  padding-bottom: 10%;
  box-sizing: border-box;
  
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  
  .about h2 {
    font-size: 40px;
  
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 90%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
