@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');


.navbar {
  width: 100%;
  height: 70px;
  background: #d9d9d9;
  font-family: 'Saira', sans-serif;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar a {
 color: #284B63;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
  color:#284B63
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
  transition: .11s ease;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}



@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }

  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}